.delete_size {
	width: 90px; 
	padding: 0px; 
	display:inline-block; 
	position:relative; 
	text-indent:16px;
	margin-right:5px;
	text-align:center
}

.delete_size_icon {
	float: right; 
	top: 2px; 
	position:absolute;
	left: 0px;
}

.progress {
	position:relative;
	height:13px;
	margin-bottom: 43px;
	margin-top: 60px;
	color:#FFFFFF;
	display:none;
}

	.progress .progress-percent {
		position: absolute;
		left: 0%;
		top: -50px;
		width: 82px;
		height: 49px;
		margin-top: -9px;
		font-weight: bold;
		background-image: url('./images/progress-bubble.png');
		line-height: 39px;
		text-align: center;
	}

	.progress.ui-widget-content { border: 1px solid #343434; background: #fcfdfd url(./images/progress-background.png) 50% bottom repeat-x; }
	.progress .ui-widget-header { border: 1px solid #343434; background: #5c9ccc url(./images/progress-stripe.png) 50% 50% repeat-x; }

.wrapper {
	display: inline-block;
	float: left;
	width: 45%;
}

#regenerate_message {
	display:none;
}

#thumb {
	display:none;
}

#ajax_thumbnail_rebuild {
	margin-top:40px;
}