.progress {
	position:relative;
	height:13px;
	margin-bottom: 43px;
	margin-top: 60px;
	color:#FFFFFF;
	display:none;
}

	.progress .progress-percent {
		position: absolute;
		left: 0%;
		top: -50px;
		width: 82px;
		height: 49px;
		margin-top: -9px;
		font-weight: bold;
		background-image: url('./images/progress-bubble.png');
		line-height: 39px;
		text-align: center;
	}
/*

	.progress.ui-widget-content { border: 1px solid #343434; background: #fcfdfd url(./images/progress-background.png) 50% bottom repeat-x; }
	.progress .ui-widget-header { border: 1px solid #343434; background: #5c9ccc url(./images/progress-stripe.png) 50% 50% repeat-x; }
*/
.form-table tr{
	-webkit-transition: all 0.5s ease-in-out;
}
.addPending{
	background-color:blue;
}
.successAdding{
	background-color:green;
}
.errorAdding {
	background-color:red;
}
.notChangedAdding {
	background-color:orange;
}
.wrapper {
	display: inline-block;
	float: left;
	width: 45%;
}

#regenerate_message {
	display:none;
}

#thumb {
	display:none;
}

#ajax_thumbnail_rebuild {
	margin-top:40px;
}