.delete_size {
	width: 90px; 
	padding: 0px; 
	display:inline-block; 
	position:relative; 
	text-indent:16px;
	margin-right:5px;
	text-align:center
}

.delete_size_icon {
	float: right; 
	top: 2px; 
	position:absolute;
	left: 0px;
}

#sis-regen .progress-percent {
	position:absolute;
	left:50%;
	top:50%;
	width:50px;
	margin-left:-25px;
	height:25px;
	margin-top:-9px;
	font-weight:bold;
	text-align:center;
}

#sis-regen .wrapper {
	display: inline-block;
	float: left;
	width: 45%;
}

#sis-regen #regenerate_message {
	display:none;
}

#sis-regen .progress {
	position:relative;
	height:25px;
}

#sis-regen #thumb {
	display:none;
}

#sis-regen #ajax_thumbnail_rebuild {
	margin-top:40px;
}